# /etc/systemd/system/veilid-server.service

[Unit]
Description=Veilid Headless Node
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=RUST_BACKTRACE=1
ExecStart=/usr/bin/veilid-server
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
PrivateTmp=true
WorkingDirectory=/
User=veilid
Group=veilid

[Install]
WantedBy=multi-user.target